#news-widget
    %h3 Direct Infos
    .body
        .card.hidden
            .card-body
                %h5.card-title 
                    %span.title title
                    %time
                %p.card-text
                %a.card-link{ href: '#', target: '_blank'} link
