#news-widget
    %button.close{type: "button", 'aria-label': "Close"}
        %span{'aria-hidden': "true"} &times;
    %i.open.fa.fa-arrow-alt-circle-up.hidden{'aria-label': "Open"}

    %h3 Direct Infos
    .body
        .card.hidden
            .card-body
                %h5.card-title 
                    %span.title title
                    %time
                %p.card-text
                %a.card-link{ href: '#', target: '_blank'} link
