

%section#scoreboard
    #map
    #sea

    #boat-template.boat.hidden
        .boat-logo  
        .boat-name
            .name
            .score

= render partial: 'details'
= render partial: 'news/news_widget'
