// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#news-widget {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background: rgba(0, 0, 0, 0.6);
    width: 30%;
    height: 40rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    color: #ffffff;

    .body{
        overflow: auto;
        height: 30rem;

    }
    .card{
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: 1px #ffffff dashed;
    }
    .card a, .card-title, .card-body, blockquote{
        color: #ffffff;
    }
    .card-title{
        font-size: 2rem;
        font-weight: bold;
    }
    time{
        font-size: 1rem;
        font-style: italic;
        &::before{
            content: ' - ';
        }
    }
    .card-body{
        pre{
            color: #000000;
        }
    }
}